{% extends "base.html" %}


{% block title %}Login{% endblock %}

{% block content %}  
<h1 class="mt-5">Login</h1>
<form class="mt-3" action="/login" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
    <script>
        function login() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // 可以根據後端的回應執行其他操作
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

    {% endblock %}