{% extends "base.html" %}


{% block title %}Welcome to EdenAlfred{% endblock %}

{% block content %}       

            <!-- Page content-->
            <div class="container-fluid">
                <h1 class="mt-4">Welcome to EdenAlfred</h1>
                <p>號稱快樂實驗室，體驗過都懂得吧 </p>
                <p>AA頂樓的風景很漂亮，看煙火的好位置!</p>
                <p>而且不會有人想跟你搶位子，因為走廊沒冷氣</p>
                <P>如果發現天快塌下來了，記得趕快跑</P>
                <p>要撐也行，找多一點人比較輕鬆 </p>
                <p>自己撐萬一倒了，前面很浪費力氣，不太值得 </p>
                <P>(先不要跟我爭什麼對流層和平流層，也不考慮重力加速度)</P>
                <p>霹靂卡霹靂拉拉 波波莉娜 貝貝魯多 </p>
                <p>顏文字好好玩，下次放看看大隻的(´,,•ω•,,)♡ </p>
                <p>結果放不了大隻的@@</p>
              
            </div>
        </div>
    </div>
{% endblock %}